@charset "utf-8";
/* Cube & Ball */
 body {
	 background-image: url(haunted_hallway_by_cybergooch-d5s5j2q[1].jpg);
	 background-size:cover;
	 background-repeat:no-repeat;
	 background-position:top center;
	 margin:0;
	 width:100%;
	 height:1000px;
	 overflow:hidden;
	 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	 font-size:10px;
	 font-weight:bold;
 }
 #garevnaCubeContainer { position:fixed; top: 0; left: 0; bottom: 0; right: 0; }
 #garevnaCube, .garevnaCubeFace, #garevnaCubeBall { position:absolute; }
 #garevnaCube {
	width:100%;
	height:100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	backface-visibility: visible;
	box-sizing:border-box;
 }
 .garevnaCubeFace, #garevnaCubeBall { border: none; background-size:cover; background-repeat:no-repeat; }
 .garevnaCubeFace {
	background-position:center center;
	transform-origin:0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin:0 0;
	background-image: url(https://drive.google.com/uc?export=download&id=0BxaMB69y7fvSLUQtc0xFSUlEUlE);
 }
 #garevnaCubeBall  { width:50px; height:50px; border-radius:100%; margin: auto auto 2px 10px; }
